

exportClass(numeric_or_complex)


export(as.numeric_or_complex, is.numeric_or_complex)


S3method(as.numeric_or_complex, character)
S3method(as.numeric_or_complex, complex)
S3method(as.numeric_or_complex, default)
S3method(as.numeric_or_complex, ts)
